atmega/contrib/avr-utils
atmega/contrib/.spreadavr.prepared
atmega/*/*.a
atmega/*/*.o
atmega/*/*.d
atmega/*/*.d.*
atmega/*/*.hex
atmega/*/*.elf
basic-light box/*.stl
basic-light box/*.fcstd1
.cproject
.project
h801/mqttConfigurablePWMFW/makeconfig*.py
*.sublime-workspace
*.sublime-project
*.orig
h801/mqttConfigurablePWMFW/out/
result*
