[Unit]
Description=Quickly switch RF433 and Ceiling lights via WEB

[Service]
Type=simple
Restart=always
RestartSec=3s
WorkingDirectory=/home/licht/gomqttwebfront
EnvironmentFile=/home/licht/gomqttwebfront/config.env
ExecStart=/home/licht/gomqttwebfront/gomqttwebfront
SyslogIdentifier=%i

[Install]
WantedBy=default.target
