body 
{
	background-image:url("/imgs/realraumsimpel.png");
        background-repeat:no-repeat;
}

#pc1
{
    background-color:#f00;	
}
.pc1
{
    position:absolute;
    height:122px;
    width:122px;
    top:370px;
    left:697px;
    background-color:#f00;
    z-index:20;
}
.pc2
{
    position:absolute;
    height:122px;
    width:122px;
    top:142px;
    left:697px;
    background-color:#f00;
    z-index:20;
}
.pc3
{
    position:absolute;
    height:122px;
    width:122px;
    top:370px;
    left:402px;
    background-color:#f00;
    z-index:20;
}
.pc4
{
    position:absolute;
    height:122px;
    width:122px;
    top:142px;
    left:402px;
    background-color:#f00;
    z-index:20;
}
.pc5
{
    position:absolute;
    height:122px;
    width:122px;
    top:370px;
    left:127px;
    background-color:#f00;
    z-index:20;
}
.pc6
{
    position:absolute;
    height:122px;
    width:122px;
    top:142px;
    left:127px;
    background-color:#f00;
    z-index:20;
}
