body {
    margin: 0;
    text-align: center;
    width: 100%;
    height: 100%;
}

nav ul {
    display: inline-block;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

nav ul:after {
    content: '';
    display: block;
    clear: both;
}

nav ul li {
    float: left;
}

nav ul li.active, nav ul li a.active {
    font-weight: bold;
}

nav ul li + li {
    margin-left: 1em;
}

nav a {
    display: block;
    padding: 1em;
}

.content {
    display: inline-block;
    margin: 0 auto;
}

.room {
    max-width: 100%;
    position: relative;
    display: inline-block;
}

.room img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.light {
    position: absolute;
    background-color: #000000;
    background-repeat: no-repeat;
    width: 14%;
    padding-top: 14%;
    z-index: 10;
    cursor: pointer;
    transition: background-color 0.5s;
}

.light.rfir {
    background: linear-gradient(-45deg, red 0%, red 50%, green 50%, green 100%);
    width: 7%;
    padding-top: 7%;
}

#ceiling2, #ceiling4, #ceiling6 {
    top: 21%;
}

#ceiling1, #ceiling3, #ceiling5 {
    top: 57%;
}

#ceiling1, #ceiling2 {
    left: 70%
}

#ceiling3, #ceiling4 {
    left: 40%
}

#ceiling5, #ceiling6 {
    left: 13%;
}

#regalleinwand {
    top: 10%;
    right: 0%;
}

#couchred {
    top: 30%;
    left: 0%;
}

#couchwhite {
    bottom: 30%;
    left: 0%;
}

#abwasch {
    top: 0%;
    left: 25%;
}

#labortisch {
    bottom: 0%;
    right: 0%;
}

/* switch */

div.switchbox {
    float:left;
    margin:2px;
    max-width:300px;
    font-size:10pt;
    border:1px solid black;
    padding:0;
    -webkit-transition: background-color 600ms, margin 300ms; /* Safari */
    transition: background-color 600ms, margin 300ms;
}

div.activatedbtn {
    background-color: cyan;
    margin-top: 8px;
    margin-bottom: 8px;
}

div.switchnameleft {
    width:12em; display:inline-block; vertical-align:middle; margin-left:3px;
}

span.alignbuttonsright {
    top:0px; float:right; display:inline-block; text-align:right; padding:0;
}

div.switchnameright {
    width:12em; display:inline-block; vertical-align:middle; float:right; display:inline-block; margin-left:1ex; margin-right:3px; margin-top:3px; margin-bottom:3px;
}

span.alignbuttonsleft {
    float:left; text-align:left; padding:0;
}

.onbutton {
    font-size:11pt;
    width: 40px;
    height: 32px;
    background-color: lime;
    margin: 0px;
}

.offbutton {
    font-size:11pt;
    width: 40px;
    height: 32px;
    background-color: red;
    margin: 0px;
}

.sendbutton {
    font-size:11pt;
    width: 40px;
    height: 32px;
    margin: 0px;
}

.enableborder {
    font-weight: bold;
    font-variant: small-caps;
    border-style: inset;
}
