div.colorlevelcontainer {
	height:1.9em; width:10em; display:inline-block; vertical-align:middle; border:1px solid black; margin-left:1ex; background-color:white;
}

div.colorlevel {
	width:5%; height:100%; display:inline-block;
}

input.colortext {
	width:5ex;
}

div.colorvalue {
 background-color:white;
 margin:4px;
}

div.previewcontainer {
	width:12em;
	height:4em;
	display:inline-block;
	background-color: black;
}

div#cwwwrgbcolor {
	width:9em;
	height:4em;
	position:absolute;
	background-color:black;
}

div.colorpickerrow {
	margin:1ex;
	width:100%;
}

div#fancycolorpicker {
	visibility:hidden;
	position:absolute;
	background:#FFDB58;
	border:5px solid gray;
	text-align: left;
}