div.popupselect_overlay {
	position:absolute;
	background-color:white;
	border:5px solid black;
	visibility:hidden;
	padding:2px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

button.popupselect_trigger {
	width:2.5em;
	height:2.5em;
	padding:2px;
}

button.popupselect_option {
	width:2.5em;
	height:2.5em;
	padding:2px;
	margin:0.15em;
}

button.popupselect_option:hover {
	width:2.8em;
	height:2.8em;
	margin:0em;
}