body {
    margin: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

nav ul {
    display: inline-block;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

nav ul:after {
    content: '';
    display: block;
    clear: both;
}

nav ul li {
    float: left;
}

nav ul li.active, nav ul li a.active {
    font-weight: bold;
}

nav ul li + li {
    margin-left: 1em;
}

nav a {
    display: block;
    padding: 1em;
}

.content {
    display: inline-block;
    margin: 0 auto;
}

#room {
    max-width: 100%;
    position: relative;
    display: inline-block;
}

#roommap {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.light {
    position: absolute;
    background-color: #000000;
    background-repeat: no-repeat;
    width: 14%;
    padding-top: 14%;
    z-index: 10;
    cursor: pointer;
    transition: background-color 0.5s;
}

.light.fancylight {
    z-index:11;
    width: 7%;
    padding-top: 7%;
    border:1px solid white;
}

.floatingbutton {
    position: absolute;
    width:8vmin;
    height:8vmin;
    z-index: 11;
}

.light.fancylight {
    z-index:11;
    width: 7%;
    padding-top: 7%;
    border:1px solid white;
}

.light.rfir {
    background: linear-gradient(-45deg, red 0%, red 50%, green 50%, green 100%);
    width: 7%;
    padding-top: 7%;
}

.light.sonoff {
    background: linear-gradient(-45deg, red 0%, red 50%, green 50%, green 100%);
    width: 7%;
    padding-top: 7%;
}

#basiclight1, #basiclight2, #basiclight3 {
    top: 21%;
}

#basiclight4, #basiclight5, #basiclight6 {
    top: 57%;
}

#basiclight1, #basiclight6 {
    left: 70%
}

#basiclight2, #basiclight5 {
    left: 40%
}

#basiclight3, #basiclight4 {
    left: 13%;
}

#fancylight1redshift, #fancylight1popup, #fancylight6redshift, #fancylight6popup {
    left: 77%;
}

#fancylight2redshift, #fancylight2popup, #fancylight5redshift, #fancylight5popup {
    left: 47%;
}

#fancylight3redshift, #fancylight3popup, #fancylight4redshift, #fancylight4popup {
    left: 20%;
}

#fancylight1popup, #fancylight2popup, #fancylight3popup  {
    top: 31.8%;
}

#fancylight4popup, #fancylight5popup, #fancylight6popup  {
    top: 67.8%;
}

#fancylight1redshift, #fancylight2redshift, #fancylight3redshift  {
    top: 27.8%;
}

#fancylight4redshift, #fancylight5redshift, #fancylight6redshift  {
    top: 64%;
}

#fancylight8redshift, #fancylight8popup {
    bottom:0%;
}

#fancylight8redshift {
    left:25%;
}
#fancylight8popup {
    left:32%;
}

#presetfunctionsbutton {
    left:56%;
    top:1%;
    border:1px solid black;
}

#regalleinwand {
    top: 10%;
    right: 0%;
}

#couchred {
    top: 30%;
    left: 0%;
}

#couchwhite {
    bottom: 30%;
    left: 0%;
}

#bluebar {
    top: 11%;
    left: 32%;
}

#abwasch {
    top: 0%;
    left: 25%;
}

#labortisch {
    bottom: 6%;
    right: 8%;
}

#floodtesla {
    bottom:0%;
    left: 70%;
}

.activatedbtn {
    border:5px solid cyan;
    transition-duration: 100ms;
}

/* BEGIN ON OFF SWITCH */

.onoffswitch {
    z-index:11;
    width: 7%;
    height:3.5%;
    position: absolute;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    text-align: left;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #E3E3E3; border-radius: 0;
    top: 0; bottom: 0;
    height:90%;
    background-color: #FFFFFF;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 1.3em; padding: 0; line-height: 100%;
    font-size:1.3vw; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Red>>";
    padding-left: 0%;
    background-color: #49E845; color: #FFFFFF;
    padding-bottom:100%;
}
.onoffswitch-inner:after {
    content: "Off";
    padding-right: 10%;
    background-color: #FFFFFF; color: #666666;
    text-align: right;
    padding-bottom:100%
}
.onoffswitch-switch {
    display: block; width: 25%; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 55%;
    border: 2px solid #E3E3E3; border-radius: 0;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: -10%;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

/* END ON OFF SWITCH */

div.popupselect_overlay {
    position:absolute;
    top:0;
    left:0;
    background-color:white;
    border:5px solid black;
    visibility:hidden;
    padding:2px;
    z-index: 20;
    margin:0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

div.popupselect_trigger {
}

button.popupselect_option {
    width:8vmin;
    height:8vmin;
    margin-top:1vmin;
    margin-bottom:1vmin;
    margin-left:1vmin;
    margin-right:1vmin;
}

button.popupselect_option:hover {
    width:10vmin;
    height:10vmin;
    margin:0;
}