body {
    margin: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

nav ul {
    display: inline-block;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

nav ul:after {
    content: '';
    display: block;
    clear: both;
}

nav ul li {
    float: left;
}

nav ul li.active, nav ul li a.active {
    font-weight: bold;
}

nav ul li + li {
    margin-left: 1em;
}

nav a {
    display: block;
    padding: 1em;
}

.content {
    display: inline-block;
    margin: 0 auto;
}

.room {
    max-width: 100%;
    position: relative;
    display: inline-block;
}

.room img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.light {
    position: absolute;
    background-color: #000000;
    background-repeat: no-repeat;
    width: 14%;
    padding-top: 14%;
    z-index: 10;
    cursor: pointer;
    transition: background-color 0.5s;;
}

.light.fancylight {
    z-index:11;
    width: 7%;
    padding-top: 7%;
    border:1px solid white;
}

.light.rfir {
    background: linear-gradient(-45deg, red 0%, red 50%, green 50%, green 100%);
    width: 7%;
    padding-top: 7%;
}

button.activatedbtn {
    background-color: cyan;
    transition-duration: 100ms;
}

#basiclight1, #basiclight2, #basiclight3 {
    top: 21%;
}

#basiclight4, #basiclight5, #basiclight6 {
    top: 57%;
}

#basiclight1, #basiclight6 {
    left: 70%
}

#basiclight2, #basiclight5 {
    left: 40%
}

#basiclight3, #basiclight4 {
    left: 13%;
}

#fancylight1off {
    top: 21%;
}

#fancylight1off, #fancylight1popup, #fancylight6off, #fancylight6popup {
    left: 77%;
}

#fancylight2off, #fancylight2popup, #fancylight5off, #fancylight5popup {
    left: 47%;
}

#fancylight3off, #fancylight3popup, #fancylight4off, #fancylight4popup {
    left: 20%;
}

#fancylight1popup, #fancylight2popup, #fancylight3popup  {
    top: 32%;
}

#fancylight4popup, #fancylight5popup, #fancylight6popup  {
    top: 68%;
}

#fancylight1off, #fancylight2off, #fancylight3off  {
    top: 21%;
}

#fancylight4off, #fancylight5off, #fancylight6off  {
    top: 57%;
}

#fancylight8off, #fancylight8popup {
    bottom:0%;
}

#fancylight8off {
    left:25%;
}
#fancylight8popup {
    left:32%;
}


#regalleinwand {
    top: 10%;
    right: 0%;
}

#couchred {
    top: 30%;
    left: 0%;
}

#couchwhite {
    bottom: 30%;
    left: 0%;
}

#bluebar {
    top: 11%;
    left: 32%;
}

#abwasch {
    top: 0%;
    left: 25%;
}

#labortisch {
    bottom: 6%;
    right: 8%;
}

#floodtesla {
    bottom:0%;
    left: 70%;
}

div.popupselect_overlay {
    position:absolute;
    background-color:white;
    border:5px solid black;
    visibility:hidden;
    padding:2px;
    z-index: 20;
    width:35%;
    height:35%;
    margin:0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

div.popupselect_trigger {
}

button.popupselect_option {
    width:15%;
    height:26%;
    margin:2%;
}

button.popupselect_option:hover {
    width:19%;
    height:30%;
    margin:0;
}