body {
    margin: 0;
    text-align: center;
    width: 100%;
    height: 100%;
}

nav ul {
    display: inline-block;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

nav ul:after {
    content: '';
    display: block;
    clear: both;
}

nav ul li {
    float: left;
}

nav ul li.active, nav ul li a.active {
    font-weight: bold;
}

nav ul li + li {
    margin-left: 1em;
}

nav a {
    display: block;
    padding: 1em;
}

.content {
    display: inline-block;
    margin: 0 auto;
}

/* switch */

div.switchbox {
    float:left;
    margin:2px;
    max-width:330px;
    font-size:10pt;
    border:1px solid black;
    padding:0;
    -webkit-transition: background-color 600ms, margin 300ms; /* Safari */
    transition: background-color 600ms, margin 300ms;
}

div.activatedbtn {
    background-color: cyan;
    margin-top: 8px;
    margin-bottom: 8px;
}

div.switchnameleft {
    width:12em; display:inline-block; vertical-align:middle; margin-left:3px;
}

span.alignbuttonsright {
    top:0px; float:right; display:inline-block; text-align:right; padding:0; vertical-align: middle;
}

div.switchnameright {
    width:12em; display:inline-block; vertical-align:middle; float:right; display:inline-block; margin-left:1ex; margin-right:3px; margin-top:3px; margin-bottom:3px;
}

span.alignbuttonsleft {
    float:left; text-align:left; padding:0; vertical-align: middle;
}

.onbutton {
    font-size:11pt;
    width: 40px;
    height: 32px;
    background-color: lime;
    margin: 0px;
}

.offbutton {
    font-size:11pt;
    width: 40px;
    height: 32px;
    background-color: red;
    margin: 0px;
}

.sendbutton {
    font-size:11pt;
    width: 40px;
    height: 32px;
    margin: 0px;
    padding:0px;
}

.textsendbutton {
    font-size:11pt;
    width: 100%;
    margin: 0px;
    padding:0px;
}


.enableborder {
    font-weight: bold;
    font-variant: small-caps;
    border-style: inset;
}

div.pipeslider {
    text-align:left;
}
div.pipeslider input {
    width:85%;
}

button.leftalignroundedbutton {
   padding: 4.5px 9px;
   font-size:80%;
   letter-spacing:.1em;
   font-variant:small-caps;
   /*give the corners a small curve*/
   -webkit-border-radius: 15px 0 0 15px;
   -moz-border-radius: 15px 0 0 15px;
   border-radius: 15px 0 0 15px;
   text-align:left;
   vertical-align: middle;
}

/* BEGIN ON OFF SWITCH */

.onoffswitch {
    font-size:80%;
    position: relative; width: 85px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    margin:1px;
    top:1ex;
    display: inline-block;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid ; border-radius: 11px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; padding: 4.5px 9px;
    letter-spacing:.1em;
    font-variant:small-caps;
    font-size: 105%; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Yes";
    padding-left: 20px;
    background-color: #34CC29; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "No";
    padding-right: 20px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 21px; margin: 4px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 50px;
    border: 2px solid ; border-radius: 11px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

/* END ON OFF SWITCH */

div.popupselect_overlay {
    position:absolute;
    top:0;
    left:0;
    background-color:white;
    border:5px solid black;
    visibility:hidden;
    padding:2px;
    z-index: 20;
    margin:0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

button.popupselect_trigger {
    width:2.5em;
    height:2.5em;
    padding:2px;
}

button.popupselect_option {
    width:2.5em;
    height:2.5em;
    padding:2px;
    margin:0.15em;
}

button.popupselect_option:hover {
    width:2.8em;
    height:2.8em;
    margin:0em;
}

#scriptctrlfancyintensityslider,input.fancyintensityslider, input.fancybalanceslider {
    width:190px;
}

#divfancylightswitchboxes,#divbasiclightswitchboxes,#divrfswitchboxes {
    float:left; background:rgb(248,248,248); margin-right:2ex; margin-bottom:2ex;
}