[Unit]
Description=Quickly switch RF433 and Ceiling lights via WEB
Wants=network.target

[Service]
Type=simple
Restart=always
RestartSec=3s
WorkingDirectory=/home/realraum/golightctrl
EnvironmentFile=/home/realraum/golightctrl/config.env
ExecStartPre=/bin/sh -c 'for gpio in 4 17 18 21 22 23; do while ! [ -e /sys/class/gpio/gpio$gpio ]; do echo $gpio >| /sys/class/gpio/export; sleep 1; done; done'
ExecStart=/home/realraum/golightctrl/golightctrl
SyslogIdentifier=%i

[Install]
WantedBy=default.target
