[Unit]
Description=Switch Lights depending on weather members present or not
Wants=network.target

[Service]
#Nice=10
Type=simple
Restart=always
WorkingDirectory=/home/realraum
#EnvironmentFile=/home/realraum/.config/realraum/
ExecStart=/home/realraum/bin/dostuff_switch_lights.py
SyslogIdentifier=%i

[Install]
WantedBy=default.target
